.loader {
    max-width: 200px;
}

.loaderWrapper {
    position: absolute;
    left: 40%;
    top: 35%;
    z-index: 1000;
    max-width: 100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.active{
    color: red !important;
}